.message {
    color: #af3936;
    margin-top: 10px;
}
.success-message {
    color: #39a44a;
    margin-top: 10px;
}
.header-container {
    width: 100%;
    padding: 20px;
    margin: 0;
    background-color: white;
    position: fixed;
    top: 0;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.no-items-message {
    text-align: center;
}
.container {
    margin-top: 120px;
}
.login-header {
    margin: 10px 0 10px 10px;
}