.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}
.form-flex-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.form-flex-container div {
    margin-right: 10px;
}
.container-element {
    max-width: 30%;
}
.table-name {
    font-weight: bold;
    margin: 20px 0;
}
table, tr, td {
    border: 1px solid grey;
    padding: 10px;
}
.bold {
    font-weight: bold;
}
h2 {
    display: inline;
}